{% extends 'base.html' %}

{% block header %}
    <h1>{% block title %}
        {% if g.user %}
            Home
        {% else %}
            Log In
        {% endif %}
    {% endblock %}</h1>

{% endblock %}

{% block content %}
    {#    如果用户已经登录#}
    {% if g.user %}
        <h1>Welcome to Harp!</h1>
        {% if g.user['usertype'] == 0 %}
            <p>Your user type is <b>Admin</b>. </p>
        {% else %}
            <p>Your user type is <b>General User</b>. </p>
            <p>Your Organization ID: {{ g.user['org_id'] }}</p>
        {% endif %}
    {% else %}
        {#    如果用户未登录#}
        <form method="post">
            <label for="username">Username</label>
            <input name="username" id="username" required>
            <label for="password">Password</label>
            <input type="password" name="password" id="password" required>
            <input type="submit" value="Log In">
        </form>
    {% endif %}
{% endblock %}