<!doctype html>
<title>{% block title %}{% endblock %} - Harp </title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<nav>
    <h1><a href="/">Harp</a></h1>
    <ul>
        {% if g.user %}
            <li><span>{{ g.user['username'] }}</span>
                {% if g.user['usertype'] == 0 %}
                    {#                只有管理员可以使用的功能#}
                    <li><a href="{{ url_for('host.index') }}">Hosts</a></li>
                {% endif %}
            <li><a href="{{ url_for('status.index') }}">Status</a></li>
            <li><a href="{{ url_for('auth.register') }}">Add User</a></li>
            <li><a href="{{ url_for('auth.logout') }}">Log Out</a></li>
        {% else %}
            <li><a href="{{ url_for('auth.login') }}">Log In</a></li>
        {% endif %}
    </ul>
</nav>
<section class="content">
    <header>
        {% block header %}{% endblock %}
    </header>
    {% for message in get_flashed_messages() %}
        <div class="flash">{{ message }}</div>
    {% endfor %}
    {% block content %}{% endblock %}
</section>
<footer>
    <p class="footer">Ziyi Wang @ SJTU, 2019</p>
</footer>