{% extends 'base.html' %}

{% block header %}
    <h1>{% block title %}Administration{% endblock %}: Channel - {{ channel }} </h1>
{% endblock %}

{% block content %}
    {#    基本信息#}
    <table>
        <tbody>
        <tr>
            <th>Organization ID</th>
            <th>Organization Name</th>
            <th>Host IP</th>
        </tr>
        <tr>
            <td>{{ id }}</td>
            <td>{{ name }}</td>
            <td>{{ ip }}</td>
        </tr>
        </tbody>
    </table>

    <h3>Status</h3>
    {{ status }}
    <h3>Chaincodes Instantiated</h3>
    {% for item in chaincodes %}
        <a class="action"
           href="{{ url_for('status.chaincode', id=id, channel=channel, chaincode=item['chaincodes']) }}">{{ item['chaincodes'] }}</a>
        <br>
    {% endfor %}
    <h3>All Orgs in Channel</h3>
    {{ orgs }}
    <h3>Query Block</h3>
    <form method="post">
        <label for="query_num">Block number</label>
        <input type="number" min="0" name="query_num" id="query_num">
        <input type="submit" name='action' value="QueryBlock">
        <h3>Query Transaction</h3>
        <label for="query_id">Transaction ID</label>
        <input name="query_id" id="query_id">
        <input type="submit" name='action' value="QueryTransaction">
    </form>

    <form method="post" enctype="multipart/form-data">
        <h3>Install & Instantiate Chaincode</h3>
        <label for="file">Sourse code</label>
        <input type="file" name="file">
        <label for="version">Version</label>
        <input name="version" id="version">
        <label for="language">Language</label>
        <input name="language" id="language">
        <label for="targets">Targets</label>
        <input name="targets" id="targets">
        <label for="fcn">Function Name</label>
        <input name="fcn" id="fcn">
        <input type="submit" name='action' value="Upload">

    </form>
{% endblock %}