{% extends 'base.html' %}

{% block header %}
    <h1>{% block title %}Status{% endblock %}</h1>
    {% if g.user['usertype'] == 0 %}
        <a class="action" href="{{ url_for('status.new') }}">New Docker</a>
    {% endif %}
{% endblock %}

{% block content %}
    {#    普通用户视图#}
    {% if g.user['usertype'] == 1 %}
        <table>
            <tr>
                <th>Organization ID</th>
                <th>Organization name</th>
                <th>Host IP</th>
                <th>Details</th>
            </tr>
            <tr>
                <td>{{ org_info[0] }}</td>
                <td>{{ org_info[1] }}</td>
                <td>{{ ip[0] }}</td>
                <td><a class="action" href="{{ url_for('status.admin', id=org_info[0]) }}">Admin</a></td>
            </tr>
        </table>
    {% endif %}

    {#    管理员视图#}
    {% if g.user['usertype'] == 0 %}
        <table>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Active</th>
                <th>State</th>
                <th>URL</th>
                <th>Errors</th>
                <th>Admin</th>
            </tr>
            {% for item in docker_list %}
                <tr>
                    <td>{{ item[7] }}</td>
                    <td>{{ item[0] }}</td>
                    <td>{{ item[1] }}</td>
                    <td>{{ item[3] }}</td>
                    <td>{{ item[4] }}</td>
                    <td>{{ item[6] }}</td>
                    {% if item[7]!=None %}
                        <td><a class="action" href="{{ url_for('status.admin', id=item[7]) }}">admin</a></td>
                    {% else %}
                        <td></td>
                    {% endif %}
                </tr>
            {% endfor %}
        </table>
    {% endif %}

{% endblock %}